In [4]:
import pandas as pd

df = pd.read_csv('revenue.csv',index_col='Date')

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [6]:
s = pd.Series([1,2,3])
s.sum()

6

In [11]:
df.sum(axis=1)

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [15]:
df.sum(axis='columns')

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [24]:
nba_df = pd.read_csv('nba.csv',index_col='Name')
nba_df.head(11)

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0

In [27]:
nba_df.Team

Name
Avery Bradley    Boston Celtics
Jae Crowder      Boston Celtics
John Holland     Boston Celtics
R.J. Hunter      Boston Celtics
Jonas Jerebko    Boston Celtics
                      ...
Shelvin Mack          Utah Jazz
Raul Neto             Utah Jazz
Tibor Pleiss          Utah Jazz
Jeff Withey           Utah Jazz
NaN                         NaN
Name: Team, Length: 458, dtype: object

In [31]:
nba_df.Team.dtypes
type(nba_df.Team)

pandas.core.series.Series

In [32]:
type(nba_df['Team'])

pandas.core.series.Series

In [35]:
select = ["Team","Age","College"]
nba_df[select]

                         Team   Age            College
Name
Avery Bradley  Boston Celtics  25.0              Texas
Jae Crowder    Boston Celtics  25.0          Marquette
John Holland   Boston Celtics  27.0  Boston University
R.J. Hunter    Boston Celtics  22.0      Georgia State
Jonas Jerebko  Boston Celtics  29.0                NaN
...                       ...   ...                ...
Shelvin Mack        Utah Jazz  26.0             Butler
Raul Neto           Utah Jazz  24.0                NaN
Tibor Pleiss        Utah Jazz  26.0                NaN
Jeff Withey         Utah Jazz  26.0             Kansas
NaN                       NaN   NaN                NaN

[458 rows x 3 columns]